name: release

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:  
  build-and-release:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: CI Tooling
      run: sudo apt update && sudo apt install build-essential fuse -y

    - name: Build devcontainer for tooling
      run: sudo -E make devcontainer

    - name: Push devcontainer for caching
      if: ${{ github.ref == 'refs/heads/main' }}
      run: sudo -E make devcontainer-push
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        IS_CI: 1
        GITHUB_TOKEN: ${{ secrets.GHACTIONS_SECRET }}

    - name: Build the Docker image, run tests and publish(on master only)
      run: sudo -E make devcontainer-release
      env:
        GITHUB_TOKEN: ${{ secrets.GHACTIONS_SECRET }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        SNAPCRAFT_LOGIN: ${{ secrets.SNAPCRAFT_LOGIN }}
        BUILD_NUMBER: ${{ github.run_id }}
        IS_CI: 1
        IS_PR: ${{ github.head_ref }}
        BRANCH: ${{ github.ref }}
